In [3]:
import pandas as pd
import numpy as np

In [5]:
train = pd.read_csv('train.csv')
train.drop(['PassengerId','Name','Cabin','Ticket'], inplace=True, axis=1)

In [6]:
train.corr()

          Survived    Pclass       Age     SibSp     Parch      Fare
Survived  1.000000 -0.338481 -0.077221 -0.035322  0.081629  0.257307
Pclass   -0.338481  1.000000 -0.369226  0.083081  0.018443 -0.549500
Age      -0.077221 -0.369226  1.000000 -0.308247 -0.189119  0.096067
SibSp    -0.035322  0.083081 -0.308247  1.000000  0.414838  0.159651
Parch     0.081629  0.018443 -0.189119  0.414838  1.000000  0.216225
Fare      0.257307 -0.549500  0.096067  0.159651  0.216225  1.000000

In [7]:
train.head()

   Survived  Pclass     Sex   Age  SibSp  Parch     Fare Embarked
0         0       3    male  22.0      1      0   7.2500        S
1         1       1  female  38.0      1      0  71.2833        C
2         1       3  female  26.0      0      0   7.9250        S
3         1       1  female  35.0      1      0  53.1000        S
4         0       3    male  35.0      0      0   8.0500        S

In [8]:
train.isna().any()

Survived    False
Pclass      False
Sex         False
Age          True
SibSp       False
Parch       False
Fare        False
Embarked     True
dtype: bool

In [9]:
#Replace NaN values in Age by Mean
avg_age = train['Age'].astype(float).mean(axis=0)
train['Age'].replace(np.NaN, avg_age, inplace=True)

In [10]:
a = train.Embarked.value_counts().argmax()
train['Embarked'].replace(np.NaN,train.Embarked.iloc[a], inplace=True)

In [11]:
cols_to_norm = ['Age', 'Fare']
train[cols_to_norm] = train[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [12]:
train.head()

   Survived  Pclass     Sex       Age  SibSp  Parch      Fare Embarked
0         0       3    male  0.271174      1      0  0.014151        S
1         1       1  female  0.472229      1      0  0.139136        C
2         1       3  female  0.321438      0      0  0.015469        S
3         1       1  female  0.434531      1      0  0.103644        S
4         0       3    male  0.434531      0      0  0.015713        S

In [13]:
def convert_to_dummy(train, column):
    dummy_variable_1 = pd.get_dummies(train[column])
    train = pd.concat([train, dummy_variable_1], axis=1)
    train.drop(column, axis=1, inplace=True)
    return train

In [14]:
train = convert_to_dummy(train,"Embarked")
train = convert_to_dummy(train,"Sex")
train = convert_to_dummy(train,"Pclass")

In [16]:
train['Total_Members'] = train['Parch'] + train['SibSp'] +1 
train_old = train
train.drop(['Parch', 'SibSp'], axis=1, inplace=True)

In [17]:
train.head()

   Survived       Age      Fare  C  Q  S  female  male  1  2  3  Total_Members
0         0  0.271174  0.014151  0  0  1       0     1  0  0  1              2
1         1  0.472229  0.139136  1  0  0       1     0  1  0  0              2
2         1  0.321438  0.015469  0  0  1       1     0  0  0  1              1
3         1  0.434531  0.103644  0  0  1       1     0  1  0  0              2
4         0  0.434531  0.015713  0  0  1       0     1  0  0  1              1

In [18]:
Z = train.drop(['Survived'],axis=1)

In [19]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(Z, train[['Survived']], test_size=0.3,random_state=0)

In [20]:
from sklearn.linear_model import LogisticRegression

In [21]:
 clf = LogisticRegression(random_state=0).fit(X_train, y_train)

D:\Personal Files\Softwares\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

In [22]:
clf.predict(X_test)

array([0, 0, 0, 1, 1, 0, 1, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 0, 0, 1,
       0, 0, 1, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0,
       1, 0, 0, 1, 0, 0, 0, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 1, 1, 0,
       1, 0, 1, 1, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0,
       1, 1, 0, 0, 0, 1, 0, 0, 1, 0, 0, 1, 0, 0, 0, 0, 1, 0, 1, 0, 0, 1,
       0, 1, 0, 1, 0, 1, 1, 1, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0,
       0, 1, 0, 0, 0, 0, 0, 0, 0, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 1, 1, 0,
       1, 0, 1, 0, 1, 1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 0,
       1, 0, 0, 1, 0, 0, 0, 0, 0, 0, 1, 0, 0, 1, 1, 0, 1, 1, 0, 0, 0, 1,
       0, 0, 0, 1, 0, 1, 0, 0, 1, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 0, 1,
       0, 1, 1, 0, 0, 0, 0, 1, 0, 0, 0, 1, 1, 1, 0, 0, 1, 1, 1, 0, 0, 1,
       0, 0, 1, 0, 1, 0, 0, 1, 0, 0, 0, 0, 0, 1, 1, 0, 0, 0, 0, 0, 0, 0,
       0, 0, 1, 1], dtype=int64)

In [23]:
clf.score(X_test, y_test)

0.8022388059701493

In [24]:
test = pd.read_csv("test.csv")

In [25]:
test.drop(['Cabin', 'Name', 'Ticket'], inplace=True, axis=1)

In [26]:
test.isna().any()

PassengerId    False
Pclass         False
Sex            False
Age             True
SibSp          False
Parch          False
Fare            True
Embarked       False
dtype: bool

In [27]:
#Replace NaN values in Age, Fare by Mean
avg_age = test['Age'].astype(float).mean(axis=0)
test['Age'].replace(np.NaN, avg_age, inplace=True)

avg_fare = test['Fare'].astype(float).mean(axis=0)
test['Fare'].replace(np.NaN, avg_fare, inplace=True)

In [28]:
test = convert_to_dummy(test,"Embarked")
test = convert_to_dummy(test,"Sex")
test = convert_to_dummy(test,"Pclass")

In [29]:
cols_to_norm = ['Age', 'Fare']
test[cols_to_norm] = test[cols_to_norm].apply(lambda x: (x - x.min()) / (x.max() - x.min()))

In [30]:
test['Total_Members'] = test['Parch'] + test['SibSp'] +1 
test.drop(['Parch', 'SibSp'], axis=1, inplace=True)

In [31]:
test.head()

,PassengerId,Age,Fare,C,Q,S,female,male,1,2,3,Total_Members
0,892,0.452723,0.015282,0,1,0,0,1,0,0,1,1
1,893,0.617566,0.013663,0,0,1,1,0,0,0,1,2
2,894,0.815377,0.018909,0,1,0,0,1,0,1,0,1
3,895,0.353818,0.016908,0,0,1,0,1,0,0,1,1
4,896,0.287881,0.023984,0,0,1,1,0,0,0,1,3

In [32]:
#Fir final model with everything and test on actual test data
Z_test = test.drop('PassengerId', axis=1)
model = clf.fit(Z, train[['Survived']])
predictions = clf.predict(Z_test)
predictions = pd.DataFrame( {'Survived' :predictions})

test_result = pd.concat([test['PassengerId'],predictions],axis=1)
test_result.to_csv('gender_submission.csv')

D:\Personal Files\Softwares\lib\site-packages\sklearn\utils\validation.py:760: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)